.block {
    font-size: 0;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.block .card {
    display: inline-block;
    background-color: rgba(224, 224, 224, 1);
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    width: 25%;
}

.block .card .images {
    width: 130px;
    height: 130px;
    border: 1px solid black;
}

.block .card .title {
    color: #000;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    font-weight: 700;
    line-height: 26px;
}

.block .card p {
    color: #000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;    
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}